USE_X_PATIENTS=false
X_PATIENTS=100
MAX_PATIENTS=100
DELAY=2
ACTIVE_DATA_DIR=/data/active
DEMO_PATIENT_IDS=p012485,p003778,p012568,p002919,p118691,p113635,p102370,p115223
SPARK_CHECKPOINT_LOCATION=/tmp/checkpoint/icu_data_demo
SPARK_WORKER_REPLICAS=1
SPARK_WORKER_CORES=1
SPARK_WORKER_MEMORY=1g
SEPSIS_THRESHOLD=0.53
