USE_X_PATIENTS=false
X_PATIENTS=100
MAX_PATIENTS=100
DELAY=2
ACTIVE_DATA_DIR=/data/active
DEMO_PATIENT_IDS=p000001,p000003,p000007,p000009,p000011,p000018,p000028,p000042
KAFKA_TOPIC=icu_data_demo
SPARK_CHECKPOINT_LOCATION=/tmp/checkpoint/icu_data_demo
SPARK_WORKER_REPLICAS=1
SPARK_WORKER_CORES=1
SPARK_WORKER_MEMORY=1g
